# ignore all files...
*
# ...except those beginning with .'s
!.*
# and those ending in ~
*~
# but ignore history files
*history
# and zsh completion data
.zcompdump
# and sensitive files
*auth*
*password*
