# ignore all files...
*
# ...except those beginning with .'s
!.*
# and those ending in ~
*~
# but ignore this stuff
*history
*auth*
*password*
.steam*
.quake*
.bitcoin
.plan_for_world_domination
.Trump_tax_returns
.things_to_hide_from_NSA
.perpetual_motion_tests
.black_helicopters
.zcompdump
.pulse-cookie
.wine
